header {
  color: #D04F4F;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
}
header .logo {
  width: 4%;
  height: 4%;
}
header h1 {
  text-align: center;
}

.conteneur-navbar {
  margin: 0px !important;
}

.navbar {
  margin-bottom: 20px;
  border-radius: 5px;
}
.navbar .input-group {
  align-items: baseline;
}
.navbar .input-group .form-control {
  border: none;
  background: #E7E7E7;
}
.navbar .input-group #basic-addon1 {
  border: none;
  background: #E7E7E7;
}

.menu-dropdown {
  margin-bottom: 20px;
}
.menu-dropdown .dropdown {
  margin-right: 20px;
}
.menu-dropdown .dropdown .dropdown-toggle {
  color: white;
  align-items: center;
}
.menu-dropdown .dropdown .dropdown-toggle::after {
  content: none;
}
.menu-dropdown .dropdown .dropdown-toggle .activated {
  display: none;
}
.menu-dropdown .dropdown .dropdown-toggle .desactivated {
  margin-right: 20px;
}
.menu-dropdown .dropdown .dropdown-toggle.show .activated {
  display: block;
}
.menu-dropdown .dropdown .dropdown-toggle.show .desactivated {
  display: none;
}

.show-label {
  display: block !important;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.3em solid;
  transition: transform 0.3s ease;
}

.my-toggle .arrow.rotated {
  transform: rotate(180deg);
}

.dropdown-search-field {
  border: none;
  color: white;
  width: 250px;
}
.dropdown-search-field:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

.dropdown-menu.show {
  display: grid !important;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
  padding: 10px;
  color: white;
}
.dropdown-menu.show li {
  cursor: pointer;
}

.error-message {
  margin: 0px;
}

.tag {
  text-align: center;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
  padding: 0px 5px 0px 5px;
}
.tag .close {
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
}

.recipe {
  max-height: 400px;
  height: 400px !important;
  border-radius: 0px 0px 5px 5px;
}
.recipe .img-recipe {
  border-radius: 5px 5px 0px 0px;
  max-height: 178px;
}
.recipe .card-body {
  background: #E7E7E7;
  border-radius: 0px 0px 5px 5px;
  height: 190px;
  text-overflow: ellipsis;
}
.recipe .card-body .content-title {
  align-items: baseline;
  padding: 20px 20px 0px 20px;
}
.recipe .card-body .content-title h3 {
  font-size: 18px;
  font-weight: 400;
}
.recipe .card-body .content-title .content-icon {
  align-items: baseline;
}
.recipe .card-body .content-title .content-icon .time {
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
}
.recipe .card-body .content-description {
  padding: 0px 20px 0px 20px;
  padding-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  height: 110px;
}
.recipe .card-body .content-description .ingredients {
  flex: 1;
  font-size: 12px;
}
.recipe .card-body .content-description .description {
  flex: 1;
  font-size: 12px;
  white-space: normal;
}/*# sourceMappingURL=style.css.map */